/* styleAdmin.css */

.admin-container {
    width: 1200px;
    margin: 30px auto;
    padding: 30px;
    background-color: #f9f9f9;
}

.admin-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 30px;
}

.admin-form div {
    margin-bottom: 15px;
}

.admin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.admin-form input[type="text"],
.admin-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-form button {
    background-color: #DA291C; /* Warna Merah MU */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-form button:hover {
    background-color: #a11e14;
}

/* Pesan Feedback */
.message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: bold;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}